<div class="text-center">
  <h1>ユーザ情報</h1>
</div>
<table class="table">
  <tbody class="">
    <tr>
      <th>ユーザ名</th>
      <td class="h5"><%= @user.name %></td>
    </tr>
    <tr>
      <th>プロフィール画像</th>
      <td><img class="mr-2 rounded" src="<%= gravatar_url(@user, { size: 200 }) %>" alt=""></td>
    </tr>
    <!--<tr>-->
    <!--  <th>紹介文</th>-->
    <!--  <td></td>-->
    <!--</tr>-->
  </tbody>
</table>