<div class="text-center">
  <h1>ユーザ情報</h1>
</div>
<table>
  <tbody>
    <tr>
      <th>ユーザ名</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>プロフィール画像</th>
      <td><%#= @user.picture %></td>
    </tr>
    <!--<tr>-->
    <!--  <th>紹介文</th>-->
    <!--  <td></td>-->
    <!--</tr>-->
  </tbody>
</table>