<div class="toppage_top">
    <div class="row">
        <div class="col-4">
            <h3>お知らせ</h3>
        </div>
        <div class="col-8">
            <p>お知らせ</p>
            <p>お知らせ</p>
            <p>お知らせ</p>
            <p>お知らせ</p>
            <p>お知らせ</p>
            <p>お知らせ</p>
        </div>
    </div>
</div>