<div class="card">
  <div class="card-header">
    <h1><%= @post.content %></h1>
  </div>
  <div class="card-body">
    <p><%= @post.detail %></p>
  </div>
  <div class="">
    <%= image_tag @post.picture.url if @post.picture? %>
  </div>
</div>
<div class="form-group">
<% if current_user?(@post.user) %>
  <div class="form-group">
    <%= link_to '釣果を編集する', edit_post_path(@post), class: 'btn btn-success' %>
  </div>
  <div class="form-group">
    <%#= link_to "Delete",post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
  </div>
<% end %>


