// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-star {
    font-size: 50px;
    color: gold;
}
p {
    font-size: 20px;
}

.fa-hand-point-down {
    font-size: 30px;
}