// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
    h3 {
        margin: 20px;
        border-bottom: solid 1px;
        margin-top: solid 1px;
    }

    .card {
        width: 40%;
    }

    .form-group {
        width: 40%;
    }

    .btn {
        margin-bottom: 10px;
    }
}
