// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// p {
//     font-size: 20px;
//     display: flex;
// }

.reports1 {
    p {
        font-size: 20px;
    }
}


.reports2 {
    display: flex; 

    p {
        font-size:  15px;
    }
}