<div class="toppage_top">
    <div class="row">
        <div class="col-3">
            <div class="reports1">
                <p>お知らせ</p>
            </div>        
        </div>
        <div class="col-9">
        <% @reports.each do |report| %>
            <div class="reports2">
                <p><%= report.created_at.to_s(:published_on) %></p>
                <p><%= report.content %></p>
                <p><%= report.content %></p>
            </div>
        <% end %>
        </div>
    </div>
</div>