<div class="panel panel-primary-left">
    <%= image_tag '/dummy1.jpeg', :size =>'150x150' %>
</div>
<div class="panel panel-primary-left">
    <%= image_tag '/dummy2.jpeg', :size =>'150x150' %>
</div>
<div class="panel panel-primary-left">
    <%= image_tag '/dummy3.jpeg', :size =>'150x150' %>
</div>